<div class="modal-header" id="modal-image-link">
  <span>
    <i class="fa fa-share-alt"></i>&nbsp;&nbsp;Share Image</span>
</div>
<div class="modal-body">
  <input size="65" ng-model="vm.imageLink" class="ng-pristine ng-valid ng-touched"></input>
</div>
<div class="modal-footer">
  <a class="btn btn-primary" ng-href="mailto:someone@theirsite.com?&subject=O2%20Image%20Share&body={{vm.imageLink}}" target="_blank">
        <i class="fa fa-envelope"
           style="cursor: pointer;"></i>&nbsp;Email Link&nbsp;&nbsp;
  </a>&nbsp;&nbsp;
  <button class="btn btn-primary" clipboard supported="supported" text="vm.imageLink" on-copied="success()" on-error="fail(err)">
    <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Copy Link
  </button>&nbsp;&nbsp;
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
