<div class="container">
    <div class="row">
        <p class="alert alert-success text-center">Start typing in one of the input boxes below.  The value you type
            will
            be represented in the
        other inputs in real time...</p>
        <div ng-controller="MultipleController1 as multi1" class="col-md-6 text-center">
            <input ng-model="multi1.data.string" type="text" value="{{multi1.value}}">
        </div>
        <div ng-controller="MultipleController2 as multi2" class="col-md-6 text-center">
            <input ng-model="multi2.data.string" type="text" value="{{multi2.value}}">
        </div>
    </div>
    <br>
    <div class="row">
        <div ng-controller="MultipleController3 as multi3" class="col-md-6 text-center">
            <input ng-model="multi3.data.string" type="text" value="{{multi3.value}}">
        </div>
        <div ng-controller="MultipleController4 as multi4" class="col-md-6 text-center">
            <input ng-model="multi4.data.string" type="text" value="{{multi4.value}}">
        </div>
    </div>
</div>