<div class="modal-header">
    <div class="row">
        <div class="col-md-6">
            <h2>ID:&nbsp;&nbsp;<span class="text-success">20151207-000{{vm.selectedImage.properties.id}}</span></h2>
        </div>
        <div class="col-md-6 text-right">
            <i class="fa fa-envelope fa-2x"
               style="cursor: pointer;"
               tooltip-placement="bottom"
               uib-tooltip="Share this image via e-mail"></i>&nbsp;&nbsp;
            <i class="fa fa-plus-circle fa-2x"
               style="cursor: pointer;"
               tooltip-placement="bottom"
               uib-tooltip="Add this image to the Images Cart"></i>&nbsp;&nbsp;
            <i class="fa fa-close fa-2x"
               ng-click="$close()"
               style="cursor: pointer;"
               tooltip-placement="bottom"
               uib-tooltip="Close image view"></i>
        </div>
    </div>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <!-- Image Space Map -->
        <div class="row">
            <div class="col-md-12">
                <div class="map" id="imageMap"></div>
            </div>
        </div>
        <!-- Image metadata -->
        <div class="row">
            <div class="col-md-6">
                <h4>Acquisition Date:&nbsp;&nbsp;<span
                        class="text-success"><span ng-show="!vm.selectedImage.properties.acquisition_date">Unknown
                </span>{{vm.selectedImage.properties.acquisition_date |
                    date:'medium'}}</span></h4>
                <!--<uib-rating ng-model="list.rate"-->
                <!--max="list.max"-->
                <!--readonly="list.isReadonly"-->
                <!--on-hover="list.hoveringOver(value)"-->
                <!--on-leave="list.overStar = null"-->
                <!--titles="['one','two','three']"-->
                <!--aria-labelledby="default-rating">-->

                <!--</uib-rating>-->
            </div>
            <div class="col-md-6">
                <h4>Ingest Date:&nbsp;&nbsp;<span class="text-success"><span
                        ng-show="!vm.selectedImage.properties.ingest_date">Unknown
                </span>{{vm.selectedImage.properties.ingest_date|date:'medium'}}</span></h4>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-md-6">
                <h4>Source</h4>

                <div class="panel panel-primary">
                    <ul>
                        <li>
                            Mission:&nbsp;
                            &nbsp;<span class="text-success"><span ng-show="!vm.selectedImage.properties.mission_id">Unknown
                </span>{{vm.selectedImage.properties.mission_id}}</span>
                        </li>
                        <li>
                            Sensor:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.sensor_id">Unknown</span>{{vm.selectedImage.properties.sensor_id}}</span>
                        </li>
                        <li>
                            Organization:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.organization">Unknown</span>{{vm.selectedImage.properties.organization}}</span>
                        </li>
                        <li>
                            Country Code:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.country_code">Unknown</span>{{vm.selectedImage.properties.country_code}}</span>
                        </li>
                        <li>
                            WAC Code:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.wac_code">Unknown</span>{{vm.selectedImage.properties.wac_code}}</span>
                        </li>
                        <li>
                            Image Representation:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.image_representation">Unknown</span>{{vm.selectedImage.properties.image_representation}}</span>
                        </li>
                    </ul>
                </div>
                <h4>File</h4>

                <div class="panel panel-primary">
                    <ul>
                        <li>
                            Type:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.file_type">Unknown</span>{{vm.selectedImage.properties
                        .file_type}}</span>
                        </li>
                        <li class="dont-break-out">
                            Name:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.filename">Unknown</span>{{vm.selectedImage.properties
                        .filename}}</span>
                        </li>
                        <li class="dont-break-out">
                            Entry ID:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.entry_id">Unknown
                        </span>{{vm.selectedImage.properties
                        .entry_id}}</span>
                        </li>
                    </ul>
                </div>
                <h4>General</h4>

                <div class="panel panel-primary">
                    <ul>
                        <li>
                            Description:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.description">Unknown
                        </span>{{vm.selectedImage.properties
                        .description}}</span>
                        </li>
                        <li class="dont-break-out">
                            Title:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.description"></span>{{vm.selectedImage.properties
                        .properties}}</span>
                        </li>
                        <li>
                            Security Classification:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.security_classification"></span>{{vm.selectedImage.properties
                        .security_classification}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Metrics</h4>

                <div class="panel panel-primary">
                    <ul>
                        <li>
                            Azimuth Angle:&nbsp;&nbsp;<span class="text-success">{{vm.selectedImage.properties.azimuth_angle}}</span>
                        </li>
                        <li>
                            Grazing Angle:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.grazing_angle">Unknown</span>{{vm.selectedImage.properties
                            .grazing_angle}}</span>
                        </li>
                        <li>
                            Cloud Cover:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.cloud_cover">Unknown</span>{{vm.selectedImage.properties
                            .cloud_cover}}</span>
                        </li>
                        <li>
                            Number of Bands:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.number_of_bands">Unknown</span>{{vm.selectedImage.properties
                            .number_of_bands}}</span>
                        </li>
                        <li>
                            Number of Resolution Levels:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.number_of_res_levels">Unknown</span>{{vm.selectedImage.properties
                            .number_of_res_levels}}</span>
                        </li>
                        <li>
                            Bit Depth:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.bit_depth">Unknown</span>{{vm.selectedImage.properties
                            .bit_depth}}</span>
                        </li>
                    </ul>
                </div>
                <h4>Dimensions</h4>

                <div class="panel panel-primary">
                    <ul>
                        <li>
                            Image Height:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.height">Unknown
                        </span>{{vm.selectedImage.properties
                        .height}}</span>
                        </li>
                        <li>
                            Image Width:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.width">Unknown</span>{{vm.selectedImage.properties
                        .width}}</span>
                        </li>
                    </ul>
                </div>
                <h4>Geometry</h4>

                <div class="panel panel-primary">
                    <ul>
                        <li>
                            GSD Unit:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.gsd_unit">Unknown
                        </span>{{vm.selectedImage.properties
                        .gsd_unit}}</span>
                        </li>
                        <li>
                            GSD X:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.gsdx">Unknown
                        </span>{{vm.selectedImage.properties
                        .gsdx}}</span>
                        </li>
                        <li>
                            GSD Y:&nbsp;&nbsp;<span class="text-success"><span
                                ng-show="!vm.selectedImage.properties.gsdx">Unknown</span>{{vm.selectedImage.properties
                        .gsdy}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="vm.fireTest();">Fire</button>-->
    <button class="btn btn-warning" ng-click="$close()">Close</button>
</div>