<!-- partial-home.html -->

<div ng-controller="HomeController as home">
    <div class="jumbotron text-center">
        <br>
        <br>

        <div class="col-md-8 col-md-offset-2">
            <h1>{{home.title}}</h1>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h2>{{home.titleMessage}}</h2>
            <form id="searchForm" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select id="searchSelect" class="form-control selectpicker" data-style="btn-primary">
                                <option data-icon="glyphicon-map-marker" value="place">&nbsp;&nbsp;Place&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                <option data-icon="glyphicon glyphicon-screenshot" value="coordinate">&nbsp;&nbsp;Coordinate&nbsp;&nbsp;</option>
                            </select>
                        </div>
                        <input id="searchInput" class="form-control" type="text" placeholder="" value=""  autofocus>

                        <div class="input-group-btn">
                            <button id="searchButton" class="btn btn-primary" type="button"><span
                                    class="glyphicon glyphicon-search"></span></button>
                            <!--<button id="clearSearchButton" class="btn btn-primary" type="button"><span-->
                                    <!--class="glyphicon glyphicon-remove"></span></button>-->
                            <!--<button id="filterSearchButton" class="btn btn-info" type="button"><span-->
                                    <!--class="glyphicon glyphicon-filter"></span></button>-->
                        </div>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- /.form-group -->
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="well">
                <h3 class="text-center"><span class="fa fa-thumbs-up text-info"></span>&nbsp;Trending images</h3>
                <slick style="height: 240px" ng-if="home.trendingImages.length"  slides-to-show=5
                       slides-to-scroll=1 dots="true" infinite="false">
                    <div ng-repeat="image in home.trendingImages">
                        <img style="height: 200px; width: 200px" ng-click="home.imageClick(image.properties.id);"
                             ng-src="/o2/imageSpace/getThumbnail?filename={{image.properties.filename}}&entry={{image.properties.entry_id}}&size=200&format=jpeg"
                             alt="Some text here...">
                        <div class="text-center">
                        <!--<uib-rating ng-model="home.trendRating" max="max" readonly="isReadonly"-->
                                    <!--titles="['one','two','three']"-->
                                    <!--aria-labelledby="default-rating"></uib-rating>-->
                            <p>Image ID: {{image.properties.id}}</p>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center well">
                    <h2>Map</a></h2>
                    <div><span class="fa fa-search fa-3x text-info"></span></div>
                    <br>
                    <p>Search and discover various types of imagery. Use this as a starting
                        point for filtering, sorting, and assemblng imagery into a collection</p>
                    <a type="button" class="btn btn-success" ui-sref="map">View</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center well">
                    <h2>Swipe Viewer</h2>
                    <div><span class="fa fa-exchange fa-3x text-info"></span></div>
                    <br>
                    <p>
                        Provides the ability to view change detection between various images.  The slider bar allows you
                        to
                        add/remove an
                        image incrementally
                    </p>
                    <a type="button" class="btn btn-success disabled">View</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center well">
                    <h2>PIWIK</h2>
                    <div><span class="fa fa-bar-chart fa-3x text-info"></span></div>
                    <br>
                    <p>
                        View O2 web analytics. Track Key Performance Indicators such as visits, goal conversions
                        rates, downloads, keywords and more.
                    </p>
                    <a type="button" class="btn btn-success disabled">View</a>
                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<div class="text-center well">-->
                    <!--<h2>Time Lapse Viewer</h2>-->
                    <!--<div><span class="fa fa-history fa-3x text-info"></span></div>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<p>-->
                        <!--View a series of images in a stack, and then iterate through them systematically-->
                    <!--</p>-->
                    <!--<a type="button" class="btn btn-success disabled">View</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<div class="text-center well">-->
                    <!--<h2>Two Color Multi-View</h2>-->
                    <!--<div><span class="fa fa-clone fa-3x text-info"></span></div>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<p>A very brief descirption of a two color muliti-view goes here</p>-->
                    <!--<a type="button" class="btn btn-success disabled">View</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="text-center well">-->
                    <!--<h2>Pansharpen</h2>-->
                    <!--<div><span class="fa fa-pencil fa-3x text-info"></span></div>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<p>A very brief descirption of pansharpening goes here</p>-->
                    <!--<a type="button" class="btn btn-success disabled">View</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="text-center well">-->
                    <!--<h2>Hillshade</h2>-->
                    <!--<div><span class="fa fa-industry fa-3x text-info"></span></div>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<p>A very brief descirption of hillshade goes here</p>-->
                    <!--<br>-->
                    <!--<a type="button" class="btn btn-success disabled">View</a>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<div class="text-center well">-->
                    <!--<h3>Helicopter Landing Zone</h3>-->
                    <!--<div><span class="fa fa-plus-circle fa-3x text-info"></span></div>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<p>A very brief descirption of helicopter landing zone goes here</p>-->
                    <!--<a type="button" class="btn btn-success disabled">View</a>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="text-center well">-->
                    <!--<h2>Template Builder</h2>-->
                    <!--<div><span class="fa fa-wrench fa-3x text-info"></span></div>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<p>Add custom markup to selected imagery, export-->
                        <!--to formats such as .pdf, jpg and .tiff</p>-->
                    <!--<a type="button" class="btn btn-success disabled">View</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="text-center well">-->
                    <!--<h2>Image Space</h2>-->
                    <!--<div><span class="fa fa-picture-o fa-3x text-info"></span></div>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<p>Zoom, pan, and rotate imagery in raw pixel space</p>-->
                    <!--<a type="button" class="btn btn-success disabled">View</a>-->
                    <!--<br>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
