<div ng-controller="MapImageController as image">
  <nav style="margin-top: -15px;" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#main-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span class="fa fa-map" aria-hidden="true"></span>
            &nbsp;Zoom<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click=""><a><i class="fa fa-file-image-o fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full Resolution</a></li>
            <li ng-click=""><a><i class="fa fa-arrows-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Maximum Extent</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span class="fa fa-mouse-pointer" aria-hidden="true"></span>
            &nbsp;Select<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click=""><a><i class="fa fa-square fa-lg"></i>&nbsp;&nbsp;&nbsp;Rectangle</a></li>
            <li ng-click=""><a><i class="fa fa-hand-paper-o fa-lg"></i>&nbsp;&nbsp;&nbsp;Freehand Polygon</a></li>
            <li ng-click=""><a><i class="fa fa-map-pin fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add a point</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span class="fa fa-info-circle" aria-hidden="true"></span>
            &nbsp;Measure<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click=""><a><i class="fa fa-line-chart fa-lg"></i>&nbsp;&nbsp;&nbsp;Path</a></li>
            <li ng-click=""><a><i class="fa fa-square fa-lg"></i>&nbsp;&nbsp;&nbsp;Area</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h2>Tools</h2>
        <hr>
        <p>Band Selection</p>
          <div id="band-type" class="image-bands">
            <ui-select id="bandTypeItem" ng-model="bandTypeItem" on-select="showBands($select.selected.value)" theme="bootstrap">
              <ui-select-match>
                  <span ng-bind="$select.selected.value"></span>
              </ui-select-match>
              <ui-select-choices repeat="val in bandTypeValues">
                  <span ng-bind="val.value"></span>
              </ui-select-choices>
            </ui-select>
          </div></br>
        <div id="image-space-bands">
          <div id="gray-image-space-bands" class="image-bands">
            <label for="male">Band:&nbsp;</label>
            <ui-select id="grayImageItem" ng-model="grayImageItem" on-select="onBandSelect($select.selected.value)" themetheme="bootstrap">
              <ui-select-match>
                  <span ng-bind="$select.selected.value"></span>
              </ui-select-match>
              <ui-select-choices repeat="val in bandValues">
                  <span ng-bind="val.value"></span>
              </ui-select-choices>
            </ui-select>
          </div></br>
          <div id="rgb-image-space-bands" class="image-bands">
            <div id="redImageBand" class="image-band-div">
              <label>Red:&nbsp;</label>
              <ui-select id="redImageItem" ng-model="redImageItem" on-select="onBandSelect($select.selected.value, 'red')" theme="bootstrap">
                <ui-select-match>
                    <span ng-bind="$select.selected.value"></span>
                </ui-select-match>
                <ui-select-choices repeat="val in bandValues">
                    <span ng-bind="val.value"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div id="greenImageBand" class="image-band-div">
              <label>Green:&nbsp;</label>
              <ui-select id="greenImageItem" ng-model="greenImageItem" on-select="onBandSelect($select.selected.value, 'green')" theme="bootstrap">
                <ui-select-match>
                    <span ng-bind="$select.selected.value"></span>
                </ui-select-match>
                <ui-select-choices repeat="val in bandValues">
                    <span ng-bind="val.value"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div id="blueImageBand" class="image-band-div">
              <label>Blue:&nbsp;</label>
              <ui-select id="blueImageItem" ng-model="blueImageItem" on-select="onBandSelect($select.selected.value, 'blue')" theme="bootstrap">
                <ui-select-match>
                    <span ng-bind="$select.selected.value"></span>
                </ui-select-match>
                <ui-select-choices repeat="val in bandValues">
                    <span ng-bind="val.value"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div></br>
        </div>
        <hr>
        <p>Measurement</p>
      </div>
      <div class="col-md-9">
        <div id="imageMap" class="map">
          <div id="mapDownloadButton">
            <a ng-href="" target="_blank" ng-click="ortho.archiveDownload(image.properties.id)">
              <i class="fa fa-download fa-border text-primary" tooltip-placement="left-bottom" uib-tooltip="Download and archive files"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
