/*.imageheader {
	height: 400px;
	background-color: red;
}*/
body {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: scroll; 
}
.navbar {min-height:28px !important;}
.navbar-fixed-top {
    height: 20px;
}
.navbar-fixed-bottom {
    height: 20px;
}
.jumbotron {
    position: relative;
    background: #000 url("swipe.jpg") center center;
    width: 100%;
    /*height: 100%;*/
    /*background-size: contain;*/
    overflow: hidden;
}
.jumbotron h1 {
    padding-bottom: 6px;
    padding-left: 6px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff
}
.hr-tight {
	margin-top: -7px;
}
.map {
    height: 450px;
}
.swipe-container {
	width: 90%;
	position: absolute;
	bottom: 5px;
	left: 5%;
	z-index: 1;
	font-size: .7em;
	color: #fff;
	background-color: rgba(255,255,255,.4);
    padding: 4px;
    border-radius: 4px;	
}
.swipe { 
    background-color: rgba(0,60,136,0.5);
	border-width: 0px;
	padding: 3px 3px;
	border-radius: 4px;
}
.swipe p {
	margin-bottom: -5px;
}
.map:-moz-full-screen {
	height: 100%;
}
.map:-webkit-full-screen {
	height: 100%;
}
.map:-ms-fullscreen {
	height: 100%;
}
.map:fullscreen {
	height: 100%;
}
.ol-rotate {
	top: 3em;
}
.imageOpacity {
	width: 30%;
}
.imageOpacity1-container {
	position: absolute;
	top: 0.85em;
	left: 6%;;
	z-index: 1;
	font-size: .7em;
	background-color: rgba(255,255,255,.4);
	padding: 4px;
	border-radius: 5px;	
}
.imageOpacity1 {
	background-color: rgba(0,60,136,0.5);
	padding: 2px 10px;
	border-radius: 5px;
}
.imageOpacity1 p {
	margin-bottom: -5px;
}
.imageOpacity2-container {
	position: absolute;
	top: 0.85em;
	right: 6%;
	z-index: 1;
	font-size: .7em;
	background-color: rgba(255,255,255,.4);
	padding: 4px;
	border-radius: 5px;	
}
.imageOpacity2 {
	background-color: rgba(0,60,136,0.5);
	padding: 2px 10px;
	border-radius: 5px;
}
.imageOpacity2 p {
	margin-bottom: -5px;
}
.toggle {
	color: black;
	font-size: 0.8em;
	background-color: rgba(0,60,136,0.5);
	border-width: 0px;
	padding: 3px 3px;
}
.toggle-swap-container {
	position: absolute;
	top: 3.5em;
	left: 6%;
	z-index: 1;
	background-color: rgba(255,255,255,.4);
	padding: 4px 4px 0px 4px;
    border-radius: 4px;	
}
.toggle-flicker-container {
	position: absolute;
	top: 3.5em;
	right: 6%;
	z-index: 1;
	background-color: rgba(255,255,255,.4);
	padding: 4px 4px 0px 4px;
    border-radius: 4px;
}
.dd-container {
	position: absolute;
    bottom: 4.5em;
    left: 46%;
    z-index: 1;
    font-size: .7em;
    color: #fff;
    background-color: rgba(255,255,255,.4);
    padding: 4px;
    border-radius: 4px;
}
.dd {
	background-color: rgba(0,60,136,0.5);
	border-width: 0px;
	padding: 3px 3px;
	border-radius: 4px;
}
.dms-container {
	position: absolute;
    bottom: 4.5em;
    left: 24%;
    z-index: 1;
    font-size: .7em;
    color: #fff;
    background-color: rgba(255,255,255,.4);
    padding: 4px;
    border-radius: 4px;
}
.dms {
	background-color: rgba(0,60,136,0.5);
	border-width: 0px;
	padding: 3px 3px;
	border-radius: 4px;
}
.mgrs-container {
	position: absolute;
    bottom: 4.5em;
    left: 67%;
    z-index: 1;
    font-size: .7em;
    color: #fff;
    background-color: rgba(255,255,255,.4);
    padding: 4px;
    border-radius: 4px;
}
.mgrs {
	background-color: rgba(0,60,136,0.5);
	border-width: 0px;
	padding: 3px 3px;
	border-radius: 4px;
}