/*
*= require webjars/bootswatch-darkly/3.3.5+4/css/bootstrap.css
*= require webjars/openlayers/3.13.0/ol.css
*= require webjars/font-awesome/4.4.0/css/font-awesome.css
*= require webjars/angular-toggle-switch/1.3.0/angular-toggle-switch.css
*= require ol3-layerswitcher.css
*= require swipe.styles.css
*= require_self
*/