<div ng-controller="MapOrthoController as ortho">
    <div class="container-fluid">
        <!--<div class="row">-->
            <!--<div class="col-md-2">-->
                <!--<div class="panel panel-info">-->
                    <!--<div class="panel-body">-->
                        <!--<div>-->
                            <!--<h5 class="text-primary"><strong>Mouse coordinates</strong></h5>-->
                            <!--<strong>DD:</strong><br>-->
                            <!--<span ></span>-->
                        <!--</div>-->
                        <!--<div class="text-primary">-->
                            <!--<strong>DMS:</strong><br>-->
                            <!--<span ></span>-->
                        <!--</div>-->
                        <!--<div class="text-primary">-->
                            <!--<strong>MGRS:</strong><br>-->
                            <!--<span ></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <div class="row">
            <!-- TODO: style in styles.css w/media queries for the map height-->
            <div class="col-md-12">
                <div id="mapOrtho" class="map">
                    <div id="dd" style="
                        position: absolute;
                        bottom: 5px;
                        left: 45%;
                        z-index: 1;
                        font-size: .7em;
                        color: #fff;
                        background-color: rgba(0,60,136,0.5);
                        padding: 2px 10px;
                        border-radius: 5px;">
                        </div>
                    <div id="dms" style="
                        position: absolute;
                        bottom: 5px;
                        left: 25%;
                        z-index: 1;
                        font-size: .7em;
                        color: #fff;
                        background-color: rgba(0,60,136,0.5);
                        padding: 2px 10px;
                        border-radius: 5px;">
                        </div>
                    <div id="mgrs" style="
                        position: absolute;
                        bottom: 5px;
                        left: 62%;
                        z-index: 1;
                        font-size: .7em;
                        color: #fff;
                        background-color: rgba(0,60,136,0.5);
                        padding: 2px 10px;
                        border-radius: 5px;">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h6>Recommended Images</h6>
                        <div class="text-center text-muted"
                             ng-if="ortho.loading"><h4>Loading recommended images, please wait...</h4></div>
                        <slick style="height: 170px" ng-if="ortho.recommendedImages.length"
                               slides-to-show=8
                               slides-to-scroll=1 dots="true" infinite="false">
                            <div ng-repeat="image in ortho.recommendedImages">
                                <img style="height: 100px; width: 100px; border-radius: 10px;" ng-click="home.imageClick(image.properties.id);"
                                     ng-src="/o2/imageSpace/getThumbnail?filename={{image.properties.filename}}&entry={{image.properties.entry_id}}&size=100&format=jpeg"
                                     tooltip-placement="bottom"
                                     uib-tooltip="{{image.properties.title}}"
                                     alt="Some text here...">
                                <div class="text-left">
                                    <!--<uib-rating ng-model="home.trendRating" max="max" readonly="isReadonly"-->
                                    <!--titles="['one','two','three']"-->
                                    <!--aria-labelledby="default-rating"></uib-rating>-->
                                    <p><small>
                                        <!--<strong>Image ID:&nbsp;</strong>-->
                                        <!--<span class="text-success">-->
                                        <!--<span ng-show="!image.properties.title">Unknown</span>-->
                                        <!--{{image.properties.title}}</span><br>-->
                                        <!--</span>-->

                                        <strong>Acquired:&nbsp;</strong>
                                            <span class="text-success" style="font-size: 12px">
                                                <span ng-show="!image.properties.acquisition_date">Unknown</span>
                                                {{image.properties.acquisition_date | date:'MM/dd/yyyy HH:mm:ss:sss'}}<br>
                                            </span>

                                        <strong>Mission:&nbsp;</strong>
                                            <span class="text-success">
                                                <span ng-show="!image.properties.mission_id">Unknown</span>
                                                {{image.properties.mission_id}}</span><br>
                                        </span>

                                        <strong>Sensor:&nbsp;</strong>
                                            <span class="text-success">
                                                <span ng-show="!image.properties.sensor_id">Unknown</span>
                                                {{image.properties.sensor_id}}
                                            </span>

                                    </small></p>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

