/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome-webfont.eot?v=4.4.0');
    src: url('fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('fontawesome-webfont.woff?v=4.4.0') format('woff'), url('fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* http://stackoverflow.com/a/22710638/4437795"" */
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
    src: url('webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('webjars/bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.jumbotron {
    position: relative;
    background: #000 url("aerial_rs.jpg") center center;
    width: 100%;
    /*height: 100%;*/
    background-size: contain;
    overflow: hidden;
}

.jumbotron h1 {
    padding-bottom: 6px;
    background: rgba(0, 0, 0, 0.5);
}

.jumbotron p {
    padding: 6px;
    background: rgba(0, 0, 0, 0.5);
}

h5 > .image-id-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

#searchForm .input-group-btn {
    z-index: 1047;
}

#searchForm input {
    z-index: 1048;
}

#list {
    overflow-y: scroll;
}

#list .media {
    margin-bottom: -30px;
    margin-top: -5px;
}

#list .panel{
    margin-bottom: 5px;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}



/*!
 * Styles for wfs-partial
 */
.the-table {
    white-space: nowrap;
    max-width: none;
    min-width: 100%
    width: auto;
}
.the-container {
    overflow: auto;
    height: 250px;
}

/*!
 * Styles the autocomplete dropdown
 */
.autocomplete-suggestions { border: 1px solid #999; background: #2b3e50; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #4e5d6c; }
.autocomplete-suggestions strong { font-weight: normal; color: #5bc0de; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}
.yamm .yamm-content {
    padding: 20px 30px;
    overflow: scroll;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

