<nav style="margin-top: -15px;" class="navbar yamm navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#filter-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs-block">Filter</a>
    </div>
    <div class="collapse navbar-collapse" id="filter-navbar-collapse" ng-controller="FilterController as filter">
        <!--<form id="searchForm" class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
                <!--<div class="input-group">-->
                    <!--<div class="input-group-btn">-->
                        <!--<select id="searchSelect" class="form-control selectpicker" data-style="btn-primary">-->
                            <!--<option data-icon="glyphicon-map-marker" value="place">&nbsp;&nbsp;Place&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>-->
                            <!--<option data-icon="glyphicon glyphicon-screenshot" value="coordinate">&nbsp;&nbsp;Coordinate&nbsp;&nbsp;</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<input id="searchInput" class="form-control" type="text" placeholder="" value="">-->

                    <!--<div class="input-group-btn">-->
                        <!--<button id="searchButton" class="btn btn-primary" type="button"><span-->
                                <!--class="glyphicon glyphicon-search"></span></button>-->
                        <!--<button id="clearSearchButton" class="btn btn-primary" type="button"><span-->
                                <!--class="glyphicon glyphicon-remove"></span></button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /.input-group &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.form-group &ndash;&gt;-->
        <!--</form>-->
        <!--<form class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search for Image ID">-->
            <!--</div>-->
            <!--<button type="button" class="btn btn-default">Search</button>-->
        <!--</form>-->
        <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">Filters</p>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false"><span class="fa fa-map" aria-hidden="true"></span>
                    &nbsp;Spatial<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="yamm-content">
                            <div ng-click="$event.stopPropagation();" style="padding-bottom: 0px;" class="yamm-content">
                                <div class="row">
                                    <p class="text-center">Select a spatial filter from the items below</p>
                                </div>
                                <form class="form">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>Map Viewport</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <toggle-switch
                                                    ng-model="filter.viewPortSpatial"
                                                    ng-change="filter.byViewPort(filter.viewPortSpatial)">
                                            </toggle-switch>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"><small class="text-muted">This filter is on by default.  It constrains the
                                            query to the boundaries of the current map extent</small></div>
                                        <hr>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>Point</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <toggle-switch
                                                    ng-model="filter.pointSpatial"
                                                    ng-change="filter.byPointer(filter.pointSpatial);">
                                            </toggle-switch>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"><small class="text-muted">Single clicking on the map
                                            will return a potential list of images at that location</small></div>
                                        <hr>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>Polygon</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <toggle-switch
                                                    ng-model="filter.polygonSpatial"
                                                    ng-change="filter.byPolygon(filter.polygonSpatial)">
                                            </toggle-switch>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"><small class="text-muted">Left-click and hold with the
                                            ALT key to create a box that will return a potential list of images
                                            </small></div>
                                        <hr>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><span class="fa fa-clock-o" aria-hidden="true"></span>
                    &nbsp;Temporal<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <div ng-click="$event.stopPropagation();" style="padding-bottom: 0px;" class="yamm-content">
                            <div class="row">
                                <p>Select a date type and duration filter from the select boxes below</p>
                            </div>
                            <form class="form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="temporalTypeFilter">Date Type</label>
                                            <select ng-model="filter.currentDateType"
                                                    ng-options="type.label for type in filter.dateTypes"
                                                    ng-change="filter.updateFilterString()"
                                                    id="temporalTypeFilter"
                                                    class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="temporalDuration">Duration</label>
                                            <select ng-model="filter.currentTemporalDuration"
                                                    ng-options="duration.label for duration in filter.temporalDurations"
                                                    ng-change="filter.updateFilterString()"
                                                    id="temporalDuration"
                                                    class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="filter.customDateRangeVisible">
                                    <div class="col-md-12">
                                        <label class="">Custom Dates</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row" ng-show="filter.customDateRangeVisible">
                                        <div class="col-md-6"><p class="text-center">Start Time & Date</p></div>
                                        <div class="col-md-6"><p class="text-center">End Time & Date</p></div>
                                    </div>
                                    <div class="row" ng-show="filter.customDateRangeVisible">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       ng-model="filter.startDate"
                                                       ng-change="filter.updateFilterString();"
                                                       data-time-format="HH:mm:ss a"
                                                       data-autoclose="false"
                                                       data-minute-step="1"
                                                       data-second-step="1"
                                                       placeholder="Time" bs-timepicker>
                                            </div>
                                            <div style="display:inline-block;">
                                                <uib-datepicker
                                                        ng-model="filter.startDate"
                                                        ng-change="filter.updateFilterString();"
                                                        show-weeks="false"
                                                        class="well well-sm">
                                                </uib-datepicker>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" size="8" class="form-control"
                                                       ng-model="filter.endDate"
                                                       data-time-format="HH:mm:ss a"
                                                       data-autoclose="0" placeholder="Time" bs-timepicker>
                                            </div>
                                            <div style="display:inline-block;">
                                                <uib-datepicker
                                                    ng-model="filter.endDate"
                                                    ng-change="filter.updateFilterString();"
                                                    show-weeks="false"
                                                    class="well well-sm">
                                                </uib-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><span class="fa fa-key" aria-hidden="true"></span>
                    &nbsp;Keywords
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="yamm-content">
                        <div id="keywords">
                            <form>
                                <div class="row">
                                    <p class="text-center">Toggle the switch for a keyword parameter below to use it
                                        as a filter</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Image ID</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="filter.imageId"
                                               ng-disabled="!filter.imageIdCheck" class="form-control"
                                               id="imageIdInput"
                                               vaule="{{filter.imageId}}">
                                    </div>
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.imageIdCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Mission</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="filter.missionId"
                                               ng-disabled="!filter.missionIdCheck" class="form-control"
                                               id="missionIdInput"
                                               value="{{filter.missionId}}">
                                    </div>
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.missionIdCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Sensor</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="filter.sensorId"
                                               ng-disabled="!filter.sensorIdCheck" class="form-control"
                                               id="sensorIdInput"
                                               value="{{filter.sensorId}}">
                                    </div>
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.sensorIdCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>BE Num.</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="filter.beNumber"
                                               ng-disabled="!filter.beNumberCheck" class="form-control"
                                               id="beNumberInput"
                                               value="{{filter.beNumber}}">
                                    </div>
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.beNumberCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Target ID</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="filter.targetId"
                                               ng-disabled="!filter.targetIdCheck" class="form-control"
                                               id="targetIdInput"
                                               value="{{filter.targetId}}">
                                    </div>
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.targetIdCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>WAC ID</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="filter.wacNumber"
                                               ng-disabled="!filter.wacNumberCheck" class="form-control"
                                               id="wacNumberInput"
                                               value="{{filter.wacNumber}}">
                                    </div>
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.wacNumberCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>File Name</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input ng-model="filter.filename"
                                               ng-disabled="!filter.filenameCheck"class="form-control" id="filenameInput"
                                               value="{{filter.filename}}">
                                    </div>
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.filenameCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <br>
                                <div class="row text-center">
                                    <button class="btn btn-primary" type="button"
                                            ng-click="filter.updateFilterString(filter.currentTemporalDuration.value);">Apply
                                    </button>
                                    <button class="btn btn-warning" type="button"
                                            ng-click="filter.initKeywords();">Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><span class="fa fa-sliders" aria-hidden="true"></span>
                    &nbsp;Ranges
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!--<li class="yamm-content" style="height: 500px;">-->
                    <li class="yamm-content">
                        <div class="ranges">
                            <form>
                                <div class="row">
                                    <p class="text-center">Toggle the switch for a range parameter below to use it as a
                                        filter</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-3 text-center">
                                        <label class="label label-primary">Minimum</label>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <label class="label label-primary">Maximum</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Predicted NIIRS</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.predNiirsMin"
                                               ng-disabled="!filter.predNiirsCheck" class="form-control" id="niirsMin"
                                               placeholder="0.0" value="{{filter.predNiirsMin}}">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.predNiirsMax"
                                               ng-disabled="!filter.predNiirsCheck" class="form-control" id="niirsMax"
                                               placeholder="9.0" value="{{filter.predNiirsMax}}">
                                    </div>
                                    <!--<div class="col-md-2">-->
                                        <!--<p class="help-block">0.0-9.0</p>-->
                                    <!--</div>-->
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.predNiirsCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <small class="text-muted">Valid ranges  0.0 to 9.0</small>
                                        <hr>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Azimuth</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.azimuthMin"
                                               ng-disabled="!filter.azimuthCheck" class="form-control" id="azimuthMin"
                                               placeholder="0.0" value="{{filter.azimuthMin}}">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.azimuthMax"
                                               ng-disabled="!filter.azimuthCheck" class="form-control" id="azimuthMax"
                                               placeholder="0.0" value="{{filter.azimuthMax}}">
                                    </div>
                                    <!--<div class="col-md-2">-->
                                        <!--<p class="help-block">0-360 Degrees</p>-->
                                    <!--</div>-->
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.azimuthCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <small class="text-muted">Valid ranges 0 to 360 degrees</small>
                                        <hr>
                                    </div>
                                </div>
                                <!--<br>-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Graze/Elevation</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.grazeElevMin"
                                               ng-disabled="!filter.grazeElevCheck" class="form-control" id="grazeElevMin"
                                               placeholder="0.0" value="{{filter.grazeElevMin}}">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.grazeElevMax"
                                               ng-disabled="!filter.grazeElevCheck" class="form-control"
                                               id="grazeElevMax"
                                               placeholder="90.0" value="{{filter.grazeElevMax}}">
                                    </div>
                                    <!--<div class="col-md-2">-->
                                        <!--<p class="help-block">0-90 Degrees</p>-->
                                    <!--</div>-->
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.grazeElevCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <small class="text-muted">Valid ranges 0 to 90 degrees</small>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Sun Azimuth</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.sunAzimuthMin"
                                               ng-disabled="!filter.sunAzimuthCheck" class="form-control" id="sunAzimuthMin"
                                               placeholder="0.0" value="{{filter.sunAzimuthMin}}">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.sunAzimuthMax"
                                               ng-disabled="!filter.sunAzimuthCheck" class="form-control"
                                               id="sunAzimuthMax" placeholder="9.0" value="{{filter.sunAzimuthMax}}">
                                    </div>
                                    <!--<div class="col-md-2">-->
                                        <!--<p class="help-block">0-360</p>-->
                                    <!--</div>-->
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.sunAzimuthCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <small class="text-muted">Valid ranges 0 to 360 degrees</small>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Sun Elevation</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.sunElevationMin"
                                               ng-disabled="!filter.sunElevationCheck" class="form-control"
                                               id="sunElevationMin" placeholder="0.0" value="{{filter.sunElevationMin}}">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.sunElevationMax"
                                               ng-disabled="!filter.sunElevationCheck" class="form-control"
                                               id="sunElevationMax" placeholder="90.0" value="{{filter.sunElevationMax}}">
                                    </div>
                                    <!--<div class="col-md-2">-->
                                        <!--<p class="help-block">-90-90 Degrees</p>-->
                                    <!--</div>-->
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.sunElevationCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <small class="text-muted">Valid ranges -90 to 90 degrees</small>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Cloud Cover</h4>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-2">
                                        <input ng-model="filter.cloudCover"
                                               ng-disabled="!filter.cloudCoverCheck" class="form-control" id="cloudCover"
                                               placeholder="10.0">
                                    </div>
                                    <!--<div class="col-md-2">-->
                                        <!--<p class="help-block">0-100%</p>-->
                                    <!--</div>-->
                                    <div class="col-md-2">
                                        <toggle-switch
                                                ng-model="filter.cloudCoverCheck"
                                                class="switch-success">
                                        </toggle-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <small class="text-muted">Valid ranges 0 to 100%</small>
                                        <hr>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="text-center">
                                        <button class="btn btn-primary" type="button"
                                                ng-click="filter.updateFilterString(filter.currentTemporalDuration.value);">Apply
                                        </button>
                                        <button class="btn btn-warning" type="button"
                                                ng-click="filter.initRanges();">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!--<form class="navbar-form navbar-right">-->
            <!--<button type="button" class="btn btn-success disabled"><span class="glyphicon glyphicon-th-list"-->
                                                                         <!--aria-hidden="true"></span>&nbsp;&nbsp;List-->
                <!--View-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-success disabled"><span class="glyphicon glyphicon-floppy-disk"-->
                                                                         <!--aria-hidden="true"></span>&nbsp;&nbsp;Save-->
                <!--Workspace-->
            <!--</button>-->
        <!--</form>-->
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div style="margin-top: -15px;" class="row">
    <div class="col-md-8" ng-controller="MapController as map">
        <div id="map" class="map" params="map.mapParams" map></div>
        <div id="popup" class="ol-popup">
            <div id="popup-content"></div>
        </div>
    </div>

    <div class="col-md-4" ng-controller="ListController as list">
        <div class="visible-xs-block visible-sm-block">
            <hr>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#sort-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-text">Sort</p>
                </div>
                <div class="collapse navbar-collapse" id="sort-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!--<li><a >New Acquires</a></li>-->
                        <!--<li><a >New Ingests</a></li>-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;
                                {{list.currentSortText}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li
                                        ng-click="list.sortWfs('acquisition_date', '+D', 'Acquired (Newest)');"><a>Acquired
                                    (Newest)</a></li>
                                <li
                                        ng-click="list.sortWfs('acquisition_date', '+A', 'Acquired (Oldest)');"><a>Acquired (Oldest)</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-click="list.sortWfs('ingest_date', '+D', 'Ingest (Newest)');"><a>Ingested
                                    (Newest)</a></li>
                                <li
                                        ng-click="list.sortWfs('ingest_date', '+A', 'Ingest (Oldest)');"><a>Ingested
                                    (Oldest)</a></li>
                                <li role="separator" class="divider"></li>
                                <li
                                        ng-click="list.sortWfs('title', '+D', 'Image ID (Desc)');"><a>Image ID
                                    (Desc)</a></li>
                                <li
                                        ng-click="list.sortWfs('title', '+A', 'Image ID (Asc)');"><a>Image ID
                                    (Asc)</a></li>
                                <li role="separator" class="divider"></li>
                                <li ng-click="list.sortWfs('sensor_id', '+A', 'Sensor (Asc)');"><a>Sensor (Asc)</a></li>
                                <li
                                        ng-click="list.sortWfs('sensor_id', '+D', 'Sensor (Desc)');"><a>Sensor (Desc)</a></li>
                                <li role="separator" class="divider"></li>
                                <li
                                        ng-click="list.sortWfs('mission_id', '+A', 'Mission (Asc)');"><a>Misson
                                    (Asc)</a></li>
                                <li
                                        ng-click="list.sortWfs('mission_id', '+D', 'Mission (Desc)');"><a>Misson
                                    (Desc)</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="navbar-text pull-right">&nbsp;&nbsp;Images:&nbsp;&nbsp;<span
                            class="label label-primary">{{list.wfsData.length}}</span>
                    </p>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--&lt;!&ndash; TBD &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6 text-right">-->
                    <!--&lt;!&ndash;<uib-rating ng-model="list.rate" max="list.max" readonly="list.isReadonly"&ndash;&gt;-->
                    <!--&lt;!&ndash;on-hover="list.hoveringOver(value)"&ndash;&gt;-->
                    <!--&lt;!&ndash;on-leave="list.overStar = null" titles="['one','two','three']"&ndash;&gt;-->
                    <!--&lt;!&ndash;aria-labelledby="default-rating"></uib-rating>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="label" &ndash;&gt;-->
                    <!--&lt;!&ndash;ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="list.overStar && !list.isReadonly">{{percent}}%</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-info" ><span&ndash;&gt;-->
                            <!--&lt;!&ndash;class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;Images Cart (0)&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div id="list" style="border-style: solid; border-width: 1px; padding: 10px; border-radius: 4px;">
            <div ng-show="list.wfsData.length === 0">
                <div class="alert alert-default"><h4 class="text-center"><strong>We did not find any images that match
                    your search
                    filters</strong></h4>
                    <hr>
                    <h4>Check the dates</h4>
                    <p>Make sure you provide valid dates for the query.  Also, make sure you are searching for the
                        appropriate date type (acquisition versus ingest).</p>
                    <br>
                    <h4>Check the spelling</h4>
                    <p>It is possible that one of the Keyword filters has a spelling error.</p>
                    <br>
                    <h4>Check range values</h4>
                    <p>Make sure that the range values you have submitted are valid for those attributes.</p>
                    <br>
                    <h4>Check your map extent</h4>
                    <p>The map extent is also a filter for the images.  Make sure the map is zoomed out to an
                        appropriate extent for your search.</p>
                </div>
                <!--<div class="alert alert-warning">-->
                    <!--<p>Your current filter is:</p>-->
                    <!--<strong><em>{{list.currentAttrFilter.filter}}</em></strong>-->
                <!--</div>-->
            </div>
            <!--<label>Quick Search: <input ng-model="searchText"></label>-->
            <!--<div infinite-scroll='list.infiniteTest();' infinite-scroll-distance='1'>-->
            <div ng-show="list.wfsData.length >= 1"
                 ng-repeat="image in list.wfsData.slice(((list.currentStartIndex-1)*list.itemsPerPage), ((list.currentStartIndex)*list.itemsPerPage))"
                 ng-model="image">
                <div class="panel panel-default" >
                    <div class="panel-body"
                         ng-mouseenter="list.displayFootprint(image);"
                         ng-mouseleave="list.removeFootprint();">
                        <div class="media">
                            <div class="media-left">
                                <img
                                    ng-style="list.thumbBorder(image.properties.file_type)"
                                    class="media-object"
                                    ng-click="list.showImageModal(image); list.logRatingToPio(image.properties.id);"
                                    tooltip-placement="right"
                                    uib-tooltip="Click the thumbnail or the Image ID to preview image and view metadata"
                                    ng-src="{{list.thumbPath}}{{list.thumbFilename}}{{image.properties.filename}}{{list.thumbEntry}}{{image.properties.entry_id}}{{list.thumbSize}}{{list.thumbFormat}}"
                                    alt="Image thumbnail"
                                    style="cursor: pointer;"
                                >&nbsp;
                                <span class="processInfo" ng-show="false">
                                  <i class="fa fa-cog fa-spin text-info"></i><span style="font-size: .7em">&nbsp;Processing {item}</span>
                                </span>
                            </div>
                            <div class="media-body">
                                <!--<div class="row">-->
                                    <!--<div class="col-md-10">-->
                                        <!--<h5 class="media-heading">ID:&nbsp;&nbsp;-->
                                            <!--<span-->
                                                <!--class="text-success image-id-link"-->
                                                <!--tooltip-placement="bottom"-->
                                                <!--uib-tooltip="Click link to view preview image and metadata"-->
                                                <!--ng-click="list.showImageModal(image)">-->
                                                <!--<span ng-show="!image.properties.title">Unknown</span>-->
                                            <!--{{image.properties.title}}</span>-->
                                        <!--</h5>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 13px;">
                                        ID:&nbsp;&nbsp;
                                        <span
                                            ng-click="list.showImageModal(image); list.logRatingToPio(image.properties.id);"
                                            class="text-success image-id-link">
                                            <span ng-show="!image.properties.title">Unknown</span>
                                            {{image.properties.title}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 13px;">
                                        Acquisition Date:&nbsp;&nbsp;
                                        <span class="text-success">
                                            <span ng-show="!image.properties.acquisition_date">Unknown</span>
                                            {{image.properties.acquisition_date | date:'MM/dd/yyyy HH:mm:ss:sss'}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 13px;">
                                        Ingest Date:&nbsp;&nbsp;
                                        <span class="text-success">
                                            <span ng-show="!image.properties.ingest_date">Unknown</span>
                                            {{image.properties.ingest_date | date:'MM/dd/yyyy HH:mm:ss:sss'}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 13px;">
                                        Sensor ID:&nbsp;&nbsp;
                                        <span class="text-success">
                                            <span ng-show="!image.properties.sensor_id">Unknown</span>
                                            {{image.properties.sensor_id}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 13px;">
                                        Mission ID:&nbsp;&nbsp;
                                        <span class="text-success">
                                            <span ng-show="!image.properties.mission_id">Unknown</span>
                                            {{image.properties.mission_id}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 13px;">
                                        File Type:&nbsp;&nbsp;
                                        <span class="text-success">
                                            <span ng-show="!image.properties.file_type">Unknown</span>
                                            {{image.properties.file_type}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-primary" style="margin-top:.2em;">
                                            <!--<i class="fa fa-info-circle fa-border"-->
                                               <!--style="cursor: pointer;"-->
                                               <!--tooltip-placement="right"-->
                                               <!--uib-tooltip="View image metadata"></i>&nbsp;&nbsp;-->
                                            <!--<i class="fa fa-thumbs-o-up fa-2x"-->
                                               <!--style="cursor: pointer;"-->
                                               <!--tooltip-placement="right"-->
                                               <!--uib-tooltip="Like this image"></i>&nbsp;&nbsp;-->
                                            <!--<i class="fa fa-plus-circle fa-2x"-->
                                               <!--style="cursor: pointer;"-->
                                               <!--tooltip-placement="right"-->
                                               <!--uib-tooltip="Add this image to the Images Cart"></i>&nbsp;&nbsp;-->
                                            <!--<i class="fa fa-exchange fa-border"-->
                                               <!--style="cursor: pointer;"-->
                                               <!--tooltip-placement="right"-->
                                               <!--uib-tooltip="View image in swipe viewer"></i>&nbsp;&nbsp;-->
                                            <!--<i class="fa fa-exchange fa-border"-->
                                            <!--style="cursor: pointer;"-->
                                            <!--tooltip-placement="right"-->
                                            <!--uib-tooltip="View image in swipe viewer"></i>&nbsp;&nbsp;-->
                                            <a href="{{list.o2baseUrl}}/#/mapOrtho?layers={{image.properties.id}} " target="_blank">
                                                <i class="fa fa-map-marker fa-border text-primary"
                                                   style="cursor: pointer;"
                                                   tooltip-placement="right"
                                                   uib-tooltip="View image ortho (WMS)"></i>&nbsp;&nbsp;
                                            </a>
                                            <a ng-show="{{list.kmlSuperOverlayAppEnabled}}" href="{{list.kmlSuperOverlayLink}}/superOverlay/createKml/{{image.properties.id}}">
                                                <i class="fa fa-map fa-border text-primary"
                                                   style="cursor: pointer;"
                                                   tooltip-placement="right"
                                                   uib-tooltip="Download KML superoverlay"></i>&nbsp;&nbsp;
                                            </a>
                                            <a ng-href="mailto:someone@theirsite.com?&subject=O2%20Image%20Share&body={{list.o2baseUrl}}/#/mapOrtho?layers={{image.properties.id}}" target="_blank">
                                                <i class="fa fa-envelope fa-border text-primary"
                                                   style="cursor: pointer;"
                                                   tooltip-placement="right"
                                                   uib-tooltip="E-mail a link to this image"></i>&nbsp;&nbsp;
                                            </a>
                                            <!--<a ng-show="{{list.jpipAppEnabled}}" href="{{list.jpipLink}}/stream?filename={{image.properties.filename}}&entry={{image.properties.entry_id}}">
                                                <i class="fa fa-map fa-border text-primary"
                                                   style="cursor: pointer;"
                                                   tooltip-placement="right"
                                                   uib-tooltip="jpip stream link"></i>&nbsp;&nbsp;
                                            </a>-->
                                            <a ng-show="{{list.jpipAppEnabled}}" href="" ng-click="list.getJpipStream($event, image.properties.filename, image.properties.entry_id);">
                                                <i class="fa fa-rocket fa-border text-primary"
                                                   style="cursor: pointer;"
                                                   tooltip-placement="right"
                                                   uib-tooltip="jpip stream link"></i>
                                            </a>
                                            <!-- <span ng-show="{{list.jpipAppEnabled}}">
                                                <button type="button" ng-click="list.getJpipStream($event, image.properties.filename,image.properties.entry_id);" uib-tooltip="Get link to jpip stream" style="cursor: pointer;">
                                                  <i class="fa fa-map fa-border text-primary"
                                                     style="pointer-events: none;cursor: default;"
                                                     tooltip-placement="right"
                                                     uib-tooltip="jpipstream link"></i>
                                                </button>
                                            </span> -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--</div>-->
        </div>
        <div class="text-center">
            <uib-pagination style="margin: 8px;"
                            total-items="list.wfsData.length"
                            ng-model="list.currentStartIndex"
                            ng-change="list.pagingChanged()"
                            max-size="5"
                            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </uib-pagination>
        </div>
    </div>
</div>
