#server:
#  contextPath: /o2-omar
---

hibernate:
    cache:
        queries: false
        use_second_level_cache: true
        use_query_cache: false
        region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

dataSource:
    pooled: true
    jmxExport: true
    driverClassName: org.h2.Driver
    username: sa
    password:

environments:
    development:
        dataSource:
            dbCreate: create-drop
            url: jdbc:h2:mem:devDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    test:
        dataSource:
            dbCreate: update
            url: jdbc:h2:mem:testDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
    production:
        dataSource:
            dbCreate: update
            url: jdbc:h2:./prodDb;MVCC=TRUE;LOCK_TIMEOUT=10000;DB_CLOSE_ON_EXIT=FALSE
            properties:
                jmxEnabled: true
                initialSize: 5
                maxActive: 50
                minIdle: 5
                maxIdle: 25
                maxWait: 10000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED

---
grails:
    profile: web
    codegen:
        defaultPackage: omar.app
    spring:
        transactionManagement:
    resources:
        pattern: '/**'
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    groovy:
        template:
            check-template-location: false
# Spring Actuator Endpoints are Disabled by Default
endpoints:
    enabled: true
    jmx:
        enabled: true

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
#endpoints:
#    jmx:
#        unique-names: true

---
# Client params
omar:
  openlayers:
    baseMaps:
      -
        layerType: "tilewms"
        title: "Open Street Map"
        url: "http://vmap0.tiles.osgeo.org/wms/vmap0"
        params:
          layers: "basic,coastline_01,coastline_02,priroad,secroad,rail,ferry,tunnel,bridge,trail,CAUSE,clabel,statelabel,ctylabel"
          format: "image/jpeg"
        options:
          visible: false
      -
        layerType: "tilewms"
        title: "Natural Earth"
        url: "http://demo.boundlessgeo.com/geoserver/wms"
        params:
          layers: "ne:NE1_HR_LC_SR_W_DR"
          format: "image/jpeg"
        options:
          visible: false
      -
        layerType: "tilewms"
        title: "Blue Marble"
        url: "http://demo.opengeo.org/geoserver/wms"
        params:
          layers: "nasa:bluemarble"
          format: "image/jpeg"
        options:
          visible: false
      -
        layerType: "tilewms"
        title: "OSM Basic"
        url: "http://dev.o2.ossimc2s.com/service-proxy/wmsProxy"
        params:
          layers: "o2-basemap-basic"
          format: "image/jpeg"
        options:
          visible: false
      -
        layerType: "tilewms"
        title: "OSM Bright"
        url: "http://dev.o2.ossimc2s.com/service-proxy/wmsProxy"
        params:
          layers: "o2-basemap-bright"
          format: "image/jpeg"
        options:
          visible: true
    overlayLayers:
      -
        layerType: "tilewms"
        title: "DGI"
        url: "https://dev.o2.ossimc2s.com/geoscript-app/evwhs/wms"
        params:
          filter: ""
          version: "1.3.0"
          layers: ""
          styles: ""
          format: "image/png"
        options:
          visible: true
  app:
    wfs:
      baseUrl: http://localhost:8081/wfs?
      enabled: true
      proxy: /proxy/index?url=
    wms:
      baseUrl: http://localhost:8081/wms?
      enabled: true
    imageSpace:
      baseUrl: http://localhost:8081/imageSpace
      enabled: true
    thumbnails:
      baseUrl: http://localhost:8081/imageSpace/getThumbnail
    footprints:
      baseUrl: http://localhost:8081/footprints/getFootprints
      params:
        name: "Image Footprints"
        version: '1.1.1'
        layers: 'omar:raster_entry'
        styles: 'byFileType'
#        styles: 'bySensorType'
#        styles: 'byMissionType'
        format: 'image/gif'
    mensaApp:
      baseUrl: http://localhost:8081/mensa
    stagerApp:
      baseUrl: http://localhost:8081
    downloadApp:
      baseUrl: http://localhost:8081
    apiApp:
      baseUrl: http://localhost:8081/api
      enabled: true
    tlvApp:
      baseUrl: http://localhost/tlv
      enabled: true
    twofishes:
      baseUrl: http://demo.twofishes.net
      proxy: /twoFishesProxy
    kmlApp:
      baseUrl: http://localhost:8081
      enabled: true
    jpipApp:
      baseUrl: http://localhost:8081/jpip
      enabled: true
    wmtsApp:
      baseUrl: http://localhost:8081/wmts
      enabled: false
    piwikApp:
      baseUrl: http://omar.ossim.org/piwik/
      enabled: false
    userGuide:
      baseUrl: http://localhost/o2-docs
      enabled: true
    misc:
      #beLookupEnabled: true
      icons:
        greenMarker: assets/search_marker_green.png
      #placemarks:
        #tableName: omar:be_number
        #columnName: be
        #geomName: location
        #maxResults: 100
      totalPaginationCount: 1000
      pageLimit: 10

---
classificationBanner:
  backgroundColor: green
  classificationType: Unclassified
  #backgroundColor: red
  #classificationType: Secret // NOFORN
    # backgroundColor: yellow
    # classificationType: Top Secret


######### Example for External logback config settings in YAML
# logging:
#   config: <log back config location>
